<div class="navbar">
    <a href="http://localhost:4200/">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Forms
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="http://localhost:4200/pi">Private Instance</a>
        <a href="http://localhost:4200/piapi">Private Instance API</a>
        <a href="http://localhost:4200/queryparams">Query Params</a>
        <a href="http://localhost:4200/cec">Course Enrollment Count</a>
        <a href="http://localhost:4200/coursegradeform">Course Grade Form</a>
        
        
      </div>
    </div>
  
    <div class="dropdown">
      <button class="dropbtn">Statistics
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="http://localhost:4200/coursestatistics">Each Course Count</a>
        <a href="http://localhost:4200/users">Users List</a> 
        <a href="http://localhost:4200/icu"> Users and Courses</a>
        <a href="http://localhost:4200/userscoursegrade"> Users Course Grade</a>
        
      </div>
    </div>
   
  
  </div>
  <p></p>