<div class="navbar">
    <a href="https://angular-cep-dashboard.eu-gb.mybluemix.net">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Forms
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="https://angular-cep-dashboard.eu-gb.mybluemix.net/pi">Private Instance</a>
        <a href="https://angular-cep-dashboard.eu-gb.mybluemix.net/piapi">Private Instance API</a>
        <a href="https://angular-cep-dashboard.eu-gb.mybluemix.net/queryparams">Query Params</a>
        <a href="https://angular-cep-dashboard.eu-gb.mybluemix.net/cec">Course Enrollment Count</a>
        <a href="https://angular-cep-dashboard.eu-gb.mybluemix.net/coursegradeform">Course Grade Form</a>
        
        
      </div>
    </div>
  
    <div class="dropdown">
      <button class="dropbtn">Statistics
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="https://angular-cep-dashboard.eu-gb.mybluemix.net/coursestatistics">Each Course Count</a>
        <a href="https://angular-cep-dashboard.eu-gb.mybluemix.net/users">Users List</a> 
        <a href="https://angular-cep-dashboard.eu-gb.mybluemix.net/icu"> Users and Courses</a>
        <a href="https://angular-cep-dashboard.eu-gb.mybluemix.net/userscoursegrade"> Users Course Grade</a>
        
      </div>
    </div>
   
  
  </div>
  <p></p>